<%- include("../partials/header") %>

    <div class="container text-center" style="margin-top: 100px; width: 600px;">
        <h1>Edit
            <%=Review.title%>
        </h1>

        <form action="/reviews/<%=Review._id%>?_method=PUT" method="POST">
            <div class="container" style="width: 400px;">
                <div class="row d-flex align-content-around" style="height: 300px;">
                    <input class="form-control" type="text" name="Movie[title]" value="<%=Review.title%>" />

                    <input class="form-control" type="text" name="Movie[url]" value="<%=Review.image%>" />

                    <input class="form-control" name="Movie[review]" value="<%=Review.review %>" />

                    <input class="form-control btn btn-large btn-info" type="submit" />

                    <a href="/reviews/<%=Review._id%>" class="form-control btn btn-large btn-infopo pl-2">Go back
        </a>
                </div>
            </div>
        </form>
    </div>
    <%- include("../partials/footer") %>