<%- include("../partials/header") %>
    <div class="main-reviews">
        <div class="upcoming">
            <div class="news-carousel owl-carousel owl-theme">
                <%articles.forEach( article => {%>
                    <div class="item">
                        <div class="news-article" style="background-image:  url('<%=article.urlToImage%>');">
                            <div class="news-overlay">
                                <span>
                            <%=article.title%>
                              <p>
                                <%=article.description%><a href="<%=article.url%>">....[Want to know more]</a>
                            </p>
                        </span>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
        <div class="allreviews">
            <%Reviews.forEach(function(review){%>
                <div class="review-post">
                    <div class="review-post-img">
                        <% if(review.image == 'empty' ){%>
                            <img src="/images/inf.jpg" alt="review-post-img">
                            <%}else{%>
                                <img src="<%=review.image%>" alt="review-post-img">
                                <%}%>
                    </div>
                    <div class="review-post-info">
                        <div class="review-post-date">
                            <span> <strong> Reviewed by -</strong>
                            <em><%=review.author.username%></em></span>
                            <%var datestring =JSON.stringify(review.createdAt);
                              var dateparsed = JSON.parse(datestring);
                              var d = datestring.split("T")[0].split('"')[1];%>
                                <span id="date"><strong> Reviewed on - </strong><%=d%></span>
                        </div>
                        <h2 class="review-post-title">
                            <%=review.title%>
                        </h2>
                        <p class="review-post-text">
                            <%=review.review%>
                        </p>
                        <a href="/reviews/<%=review._id%>" class="review-post-btn"> FULL REVIEW</a>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>
    <div class="footer">
        <div class="footer-about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis, eveniet voluptate iusto soluta eaque repellendus magnam voluptates voluptatibus, atque cupiditate ad expedita vero asperiores et ea voluptatum minus illo?</p>
        </div>
        <div class="footer-social-corner">
            <h1>Follow us</h1>
            <p>Let us be social</p>
            <i class="youtube icon"></i>
            <i class="linkedin icon"></i>
            <i class="google plus icon"></i>
            <i class="instagram icon"></i>
            <i class="github icon"></i>
            <i class="facebook icon"></i>
        </div>
        <div class="footer-cc">
            <h3> <i class="creative commons icon"></i> Copyright 2020 All rights are reserved | made by <span>aman-d-1-n-only</span></h3>
        </div>
    </div>
    </div>
    <%- include("../partials/footer") %>