<%- include("../partials/header") %>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Yelcamp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%=MovieInfo.image%>" alt="Card image cap">
                    <div class="caption-full">
                        <h4 class="pull-right">$45 per ngt</h4>
                        <h4>
                            <a href="">
                                <%=MovieInfo.title%>
                            </a>
                        </h4>
                        <p>
                            <%=MovieInfo.review%>
                        </p>
                    </div>
                </div>
                <div class="well">
                    <div class="text-rigth">
                        <a href="/moviereviews/<%= MovieInfo._id %>/comments/new" class="btn btn-success"> + Comment</a>
                    </div>

                    <% MovieInfo.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">

                                <%= comment.author %>
                                    <span class="pull-right">10 days ago</span>
                                    <p>
                                        <%= comment.text %>
                                    </p>
                            </div>
                        </div>

                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="margin-top: 100px;margin-left: auto; margin-bottom: 100px;">
        <div class="card " style="width: 60%">
            <img class="card-img-top" src="<%=MovieInfo.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    <%=MovieInfo.title%>
                </h5>
                <p class="card-text">
                    <h6>REVIEW:</h6>
                    <%=MovieInfo.review%>
                        <% MovieInfo.comments.forEach(function(comment){ %>
                            <p>
                                <strong> <%= comment.author %> </strong> -
                                <%= comment.text %>
                            </p>
                            <% }) %>
                </p>
                <a href="/" class="btn btn-primary">GO BACK</a>

            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>