<%- include("partials/header") %>
    <div class="main">
        <div class="main-content">
            <h1>BETA REVIEW</h1>
            <p>Let other know your watch time experience.</p>
            <p>Sit | Watch | Review</p>
            <a href="/#latest-reviews" class="ui inverted green button">Explore <i class="angle right icon"></i></a>
        </div>
    </div>
    <section id="latest-reviews">
        <div class="latest-reviews">
            <div class="latest-heading">
                <h2>Last Three Reviews</h2>
                <hr>
            </div>
            <div class="allreviews">
                <%reviews.forEach(function(review){%>
                    <div class="review-post">
                        <div class="review-post-img">
                            <% if(review.image == 'empty' ){%>
                                <img src="/images/inf.jpg" alt="review-post-img">
                                <%}else{%>
                                    <img src="<%=review.image%>" alt="review-post-img">
                                    <%}%>
                        </div>
                        <div class="review-post-info">
                            <div class="review-post-date">
                                <span> <strong> Reviewed by -</strong>
                            <em><%=review.author.username%></em></span>
                                <%var datestring =JSON.stringify(review.createdAt);
                              var dateparsed = JSON.parse(datestring);
                              var d = datestring.split("T")[0].split('"')[1];%>
                                    <span id="date"><strong> Reviewed on - </strong><%=d%></span>
                            </div>
                            <h2 class="review-post-title">
                                <%=review.title%>
                            </h2>
                            <p class="review-post-text">
                                <%=review.review%>
                            </p>
                            <a href="/reviews/<%=review._id%>" class="review-post-btn"> FULL REVIEW</a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div class="latest-btn flex-row">
                <a href="/reviews" class="review-post-btn">Load More</a>
                <a href="/#add-review-form" class="review-post-btn">Add Review</a>
            </div>

        </div>
    </section>
    <div class="review">
        <div id="item1">
            <div class="jumbotron">
                <div class="review-heading">
                    <h2>Add a review</h2>
                </div>
                <div class="review-instruction">
                    <ul>
                        <li>Search a movie or tv shows</li>
                        <li>Write a review</li>
                        <li>Submit</li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="add-review-form">
            <div id="item2">
                <form class="msf form-disable" action="/reviews" method="POST">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">0% Complete</span>
                        </div>
                    </div>
                    <div class="msf-header">
                        <div class="row text-center">
                            <div class="msf-step col-md-4"><i class="film icon"></i><span>Movie & Tv Show</span></div>
                            <div class="msf-step col-md-4"><i class="comment alternate icon"></i><span>Review</span></div>
                            <div class="msf-step col-md-4"><i class="paper plane icon"></i><span>Submit</span></div>
                        </div>
                    </div>

                    <div class="msf-content">
                        <div class="msf-view">
                            <input type="text" name="title" id="search" placeholder="Search movies,tv shows" class="form-control" autocomplete="off" required/>
                            <div class="results">
                                <ul class="list-group" id="result"></ul>
                            </div>
                        </div>
                        <div class="msf-view">
                            <textarea name="review" id="review-info" placeholder="Write a review......" cols="10" rows="20" required></textarea>
                        </div>
                        <div class="msf-view">
                            <div class="submit-msg">
                                <span>  You finally submitted the review.</span>
                            </div>
                        </div>
                    </div>

                    <div class="msf-navigation">
                        <button type="button" data-type="back" class="btn btn-outline-dark msf-nav-button"><i class="fa fa-chevron-left"></i> Back </button>
                        <button type="button" data-type="next" class="btn  btn-outline-dark msf-nav-button">Next <i class="fa fa-chevron-right"></i></button>
                        <button id="submission" type="submit" data-type="submit" class="btn btn-outline-dark msf-nav-button">Submit</button>
                    </div>
                </form>

            </div>
        </section>
    </div>
    <div class="post-collection">
        <div id="post">
            <div class="post-heading">
                <h1>Trending Movies</h1>
                <hr>
            </div>
            <div class="trending-carousel owl-carousel owl-theme">
                <%treMovies.forEach(function(movie){%>
                    <div class="item">
                        <div class="ui card">
                            <div class="image">
                                <div class="ui move up reveal">
                                    <div class="visible content">
                                        <img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>">
                                    </div>
                                    <div class="hidden content overview">
                                        <div class="description ">
                                            <p><span id="def"> Overview :</span>
                                                <%=movie.overview%>
                                            </p>
                                        </div>
                                        <div class="tag">
                                            <%movie.genre_ids.forEach(function(genre){%>
                                                <span class="tags"><%=genre%></span>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="content">
                                <a class="header" id="more-movie-info">
                                    <%=movie.title%>
                                </a>
                                <div class="meta">
                                    <span class="date">Released  :<%=movie.release_date%></span>
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="thumbs up icon"></i>
                                <%=movie.vote_average*10%>%
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <div id="post">
            <div class="post-heading">
                <h1>Trending Tv Shows</h1>
                <hr>
            </div>
            <div class="trending-carousel owl-carousel owl-theme">
                <%treShows.forEach(function(show){%>
                    <div class="item">
                        <div class="ui card">
                            <div class="image">
                                <div class="ui move up reveal">
                                    <div class="visible content">
                                        <img src="https://image.tmdb.org/t/p/w500/<%=show.poster_path%>">
                                    </div>
                                    <div class="hidden content overview">
                                        <div class="description">
                                            <p><span id="def"> Overview :</span>
                                                <%=show.overview%>
                                            </p>
                                        </div>
                                        <div class="tag">
                                            <%show.genre_ids.forEach(function(genre){%>
                                                <span class="tags"><%=genre%></span>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a class="header" id="more-info">
                                    <%=show.original_name%>
                                </a>
                                <div class="meta">
                                    <span class="date">First Aired On : <%=show.first_air_date%></span>
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="thumbs up icon"></i>
                                <%=show.vote_average*10%>%
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis, eveniet voluptate iusto soluta eaque repellendus magnam voluptates voluptatibus, atque cupiditate ad expedita vero asperiores et ea voluptatum minus illo?</p>
        </div>
        <div class="footer-social-corner">
            <h1>Follow us</h1>
            <p>Let us be social</p>
            <i class="youtube icon"></i>
            <i class="linkedin icon"></i>
            <i class="google plus icon"></i>
            <i class="instagram icon"></i>
            <i class="github icon"></i>
            <i class="facebook icon"></i>
        </div>
        <div class="footer-cc">
            <h3> <i class="creative commons icon"></i> Copyright 2020 All rights are reserved | made by <span>aman-d-1-n-only</span></h3>
        </div>
    </div>
    </div>
    <%- include("partials/footer") %>