<%- include("partials/header") %>
    <div class="main">
        <div class="main-content">
            <h1>BETA REVIEW</h1>
            <p>Let other know your watch time experience.</p>
            <p>Sit | Watch | Review</p>
            <button class="ui inverted green button">Explore <i class="angle right icon"></i></button>
        </div>
    </div>
    <div class="review">
        <div id="item1">
            <div class="jumbotron">
                <div class="review-heading">
                    <h2>Add a review</h2>
                </div>
                <div class="review-instruction">
                    <ul>
                        <li>Search a movie or tv shows</li>
                        <li>Write a review</li>
                        <li>Submit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="item2">
            <!-- <h2>ADD REVIEW</h2>
            <div class="search-bar">
                <input type="text" name="title" id="search" placeholder="Search movies,tv shows" class="form-control" />
                <button>Next</button>
            </div>
            <div class="results">
                <ul class="list-group" id="result"></ul>
            </div> -->
            <form class="msf" action="/reviews" method="POST">
                <div class="msf-header">
                    <div class="row text-center">
                        <div class="msf-step col-md-4"><i class="film icon"></i><span>Movie & Tv Show</span></div>
                        <div class="msf-step col-md-4"><i class="comment alternate icon"></i><span>Review Info</span></div>
                        <div class="msf-step col-md-4"><i class="paper plane icon"></i><span>Verify</span></div>
                    </div>
                </div>

                <div class="msf-content">
                    <div class="msf-view">
                        <input type="text" name="title" id="search" placeholder="Search movies,tv shows" class="form-control" required/>
                        <div class="results">
                            <ul class="list-group" id="result"></ul>
                        </div>
                    </div>
                    <div class="msf-view">
                        <textarea name="review" id="review-info" placeholder="Write a review......" cols="10" rows="20" required></textarea>
                    </div>
                    <div class="msf-view">
                        <div class="submit-msg">
                            <span>  You finally submitted the review.</span>
                        </div>
                    </div>
                </div>

                <div class="msf-navigation">
                    <button type="button" data-type="back" class="btn btn-outline-dark msf-nav-button"><i class="fa fa-chevron-left"></i> Back </button>
                    <button type="button" data-type="next" class="btn  btn-outline-dark msf-nav-button">Next <i class="fa fa-chevron-right"></i></button>
                    <button type="submit" data-type="submit" class="btn btn-outline-dark msf-nav-button">Submit</button>
                </div>
            </form>

        </div>
    </div>
    <div class="post-collection">
        <div id="post">
            <div class="post-heading">
                <h1>Trending Movies</h1>
                <hr>
            </div>
            <div class="trending-carousel owl-carousel owl-theme">
                <%treMovies.forEach(function(movie){%>
                    <div class="item">
                        <div class="ui card">
                            <div class="image">
                                <div class="ui move up reveal">
                                    <div class="visible content">
                                        <img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>">
                                    </div>
                                    <div class="hidden content overview">
                                        <div class="description ">
                                            <p><span id="def"> Overview :</span>
                                                <%=movie.overview%>
                                            </p>
                                        </div>
                                        <div class="tag">
                                            <%movie.genre_ids.forEach(function(genre){%>
                                                <span class="tags"><%=genre%></span>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="content">
                                <a class="header" id="more-movie-info">
                                    <%=movie.title%>
                                </a>
                                <div class="meta">
                                    <span class="date">Released  :<%=movie.release_date%></span>
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="thumbs up icon"></i>
                                <%=movie.vote_average*10%>%
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <div id="post">
            <div class="post-heading">
                <h1>Trending Tv Shows</h1>
                <hr>
            </div>
            <div class="trending-carousel owl-carousel owl-theme">
                <%treShows.forEach(function(show){%>
                    <div class="item">
                        <div class="ui card">
                            <div class="image">
                                <div class="ui move up reveal">
                                    <div class="visible content">
                                        <img src="https://image.tmdb.org/t/p/w500/<%=show.poster_path%>">
                                    </div>
                                    <div class="hidden content overview">
                                        <div class="description">
                                            <p><span id="def"> Overview :</span>
                                                <%=show.overview%>
                                            </p>
                                        </div>
                                        <div class="tag">
                                            <%show.genre_ids.forEach(function(genre){%>
                                                <span class="tags"><%=genre%></span>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a class="header" id="more-info">
                                    <%=show.original_name%>
                                </a>
                                <div class="meta">
                                    <span class="date">First Aired On : <%=show.first_air_date%></span>
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="thumbs up icon"></i>
                                <%=show.vote_average*10%>%
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis, eveniet voluptate iusto soluta eaque repellendus magnam voluptates voluptatibus, atque cupiditate ad expedita vero asperiores et ea voluptatum minus illo?</p>
        </div>
        <div class="footer-social-corner">
            <h1>Follow us</h1>
            <p>Let us be social</p>
            <i class="youtube icon"></i>
            <i class="linkedin icon"></i>
            <i class="google plus icon"></i>
            <i class="instagram icon"></i>
            <i class="github icon"></i>
            <i class="facebook icon"></i>
        </div>
        <div class="footer-cc">
            <h3> <i class="creative commons icon"></i> Copyright 2020 All rights are reserved | made by <span>aman-d-1-n-only</span></h3>
        </div>
    </div>
    <%- include("partials/footer") %>