<%- include("partials/header") %>
    <div class="container " style="margin-top: 100px;margin-left: auto; margin-bottom: 100px;">
        <div class="card " style="width: 60%">
            <img class="card-img-top" src="<%=MovieInfo.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    <%=MovieInfo.title%>
                </h5>
                <p class="card-text">
                    <h6>REVIEW:</h6>
                    <%=MovieInfo.review%>
                        <% MovieInfo.comments.forEach(function(comment){ %>
                            <p>
                                <strong> <%= comment.author %> </strong> -
                                <%= comment.text %>
                            </p>
                            <% }) %>
                </p>
                <a href="/" class="btn btn-primary">GO BACK</a>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>